/* .floating-icons {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  z-index: 9999;
  font-family: sans-serif;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.floating-button {
  height: 48px;
  padding: 0 16px;
  background-color: #191970;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.icon-box {
  width: 48px;
  height: 48px;
  background-color: #242424;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
} */
